{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}
{% block css %}
	<style type="text/css">
		.mr-10 {
			margin-right: 10px;
		}
		.mb-10 {
			margin-bottom: 10px;
		}
	</style>
{% endblock %}
{% block content %}
	{% if form.instance.id %}<h1>Editar Pedido de Receta</h1>{% else %}<h1>Pedido de Receta</h1>{% endif %}
    <form action="" method="post" enctype="multipart/form-data">  	
        {% crispy form %}
        <input type="submit" value="Guardar" class="btn btn-success" id="btnGuardar"/> 
    </form>
{% endblock %}
{% block js %}
{% endblock %}