{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style type="text/css">
        .r-img {
            /* cambia estos dos valores para definir el tamaño de tu círculo */
            height: 60px;
            width: 60px;
            /* los siguientes valores son independientes del tamaño del círculo */
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
           display: inline-block;
        }
        .page-header {
            padding-bottom: 0;
            margin: 0;
            border-bottom: 1px solid #ded5d5;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- TITULO -->
    <div class="page-header">
        <h3>Pedidos de Recetas:</h3>
    </div>
    <!-- TABLA CON RECETAS -->
    <div class="row text-center">
        <table id="table" class="table-bordered" data-filter-control="true">
            <tbody>
                {% for pedidoreceta in object_list %}
                    <tr>
                        <td>
                            <h4 class="media-heading">{{ pedidoreceta.titulo }}</h4>
                        </td>
                        <td><div style="line-height: 3.5;">{{ pedidoreceta.fecha }}</div></td>
                        <td>
                            <div style="line-height: 3.5;"><a href="{% url 'pedidoreceta_detail' pedidoreceta.pk %}" title="Leer"><i class="glyphicon glyphicon-eye-open" style="color:green;"></i></a></div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#table').bootstrapTable({
            idField: 'titulo',
            cardView: false,        //Debería ser true para celulares, por ejemplo.
            detailView: false,
            pagination: true,
            pageSize: 4,
            search: true,
            filterControl: true,

             columns: [ {
                field: 'titulo',
                title: 'Titulo',
                halign: 'center',
                align: 'left',
                filterControl: 'input',
                width: '55%'
            }, {
                field: 'fecha',
                title: 'Fecha',
                halign: 'center',
                align: 'center',
                sortable: true,
                order: 'asc',
                filterControl: 'input',
                width: '20%'
            }, {
                field: '',
                title: 'Leer',
                halign: 'center',
                align: 'center',
                width: '5%'
            },],
        });
    </script>
{% endblock %}