{% extends 'base.html' %}
{% load staticfiles comments crispy_forms_tags %}
{% block css %}
    <style type="text/css">
        .jumbotron p {
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 200;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row pull-right">
        {{ pedidoreceta.fecha }} | Creada por:&nbsp;{{pedidoreceta.usuario}}
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="row"><h3>Titulo:&nbsp;</h3></div>
        <div class="row">{{ pedidoreceta.titulo }} </div>
    </div>
	
    <hr>

    <div class="row">
        <div class="row"><h3>Descripcion:</h3></div>
        <div class="row">{{ pedidoreceta.descripcion|linebreaks }}</div>
    </div>

	
{% endblock %}
{% block js %}
{% endblock %}