{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}
{% block css %}
	<style type="text/css">
		.mr-10 {
			margin-right: 10px;
		}
		.mb-10 {
			margin-bottom: 10px;
		}
	</style>
{% endblock %}
{% block content %}
	{% if form.instance.id %}<h1>Editar Receta</h1>{% else %}<h1>Crear Receta</h1>{% endif %}
    <form action="" method="post" enctype="multipart/form-data">  	
        {% crispy form %}
       	<fieldset>
            <legend>Pasos</legend>
            {{ pasos_form.management_form }}
            {{ pasos_form.non_form_errors }}
            {% for form in pasos_form.forms %}
                <div class="inline {{ pasos_form.prefix }}">
                	{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {% crispy form %}
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Guardar" class="btn btn-success" id="btnGuardar"/> 
    </form>
{% endblock %}
{% block js %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/jquery.formset.js"></script>
	<script>
		$(function() {
			$(".inline.{{ pasos_form.prefix }}").formset({
	            prefix: "{{ pasos_form.prefix }}",
	            addText: 'Agregar',
	        	deleteText: 'Eliminar',
	        	addCssClass: "pull-right col-md-1 btn btn-success mr-10 mb-10",
				deleteCssClass: "pull-right col-md-1 btn btn-danger mb-10",
	        });
            $('#btnGuardar').click(function (){
                $('fieldset input[name=csrfmiddlewaretoken]').remove();
            });
	    });
	</script>
{% endblock %}