{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	</style>
{% endblock %}
{% block content %}
	<div class="col-md-4">
    	<form action="" method="post">{% csrf_token %}
		    <p>Esta segur@ que desea eliminarla? "{{ object }}"?</p>
		    <input type="submit" value="Eliminar" class="btn btn-danger"/>
		</form>
	</div>
{% endblock %}
{% block js %}
{% endblock %}