{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style type="text/css">
        .r-img {
            /* cambia estos dos valores para definir el tamaño de tu círculo */
            height: 60px;
            width: 60px;
            /* los siguientes valores son independientes del tamaño del círculo */
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
           display: inline-block;
        }
        .page-header {
            padding-bottom: 0;
            margin: 0;
            border-bottom: 1px solid #ded5d5;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Recetas por Categoria: {{ Categoria}}</h3>
            <hr>
        </div>
    </div>
    <!-- /.row -->

    <div class="row text-center">
        <table id="table" data-row-style="rowStyle">
            <thead>
                <tr>
                    <th data-field="titulo"
                        data-title="Titulo"
                        data-halign="center"
                        data-align="left"
                        data-width="70%"></th>

                    <th data-field="fecha"
                        data-title="Fecha"
                        data-halign="center"
                        data-align="center"
                        data-width="20%"
                        data-sortable="true"
                        data-sort-order="asc"></th>

                    <th data-field=""
                        data-title=""
                        data-halign="center"
                        data-align="center"
                        data-width="10%"></th>
                </tr>
            </thead>
            <tbody>
                {% for receta in object_list %}
                    <tr>
                        <td>
                            <div class="col-md-2"><img src="{{ receta.img.url }}" class="r-img" onerror="this.src='{% static 'img_nd.png' %}'"></div>
                            <div class="col-md-10">{{ receta.titulo }}</div>
                        </td>
                        <td>{{ receta.fecha }}</td>
                        <td><a href="{% url 'receta_detail' receta.pk %}" class="btn btn-primary">Leer Mas</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>

    <hr>
	<div class="row">
	</div>
{% endblock %}
{% block js %}
    <script>
        $('#table').bootstrapTable({
            idField: 'codproducto',
            cardView: false,        //Debería ser true para celulares, por ejemplo.
            detailView: false,
            pagination: true,
            pageSize: 4,
            search: true
        });
    </script>
{% endblock %}