{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style type="text/css">
        .r-img {
            /* cambia estos dos valores para definir el tamaño de tu círculo */
            height: 60px;
            width: 60px;
            /* los siguientes valores son independientes del tamaño del círculo */
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
           display: inline-block;
        }
        .page-header {
            padding-bottom: 0;
            margin: 0;
            border-bottom: 1px solid #ded5d5;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- TITULO -->
    <div class="page-header">
        {% if request.user == Usuario %}
            <h3>Mis Recetas:</h3>
        {% else %}
            <h3>Recetas de: {{ Usuario }}</h3>
        {% endif %}
    </div>
    <!-- TABLA CON RECETAS -->
    <div class="row text-center">
        <table id="table" class="table-bordered" data-filter-control="true">
            <tbody>
                {% for receta in object_list %}
                    <tr>
                        <td>
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img src="{{ receta.img.url }}" class="r-img" onerror="this.src='{% static 'img_nd.png' %}'">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ receta.titulo }}</h4>
                                    {{ receta.descripcion }}
                                </div>
                            </div>
                        </td>
                        <td><div style="line-height: 3.5;">{{ receta.categoria.nombre }}</div></td>
                        <td><div style="line-height: 3.5;">{{ receta.fecha }}</div></td>
                        <td>
                            {% if request.user == receta.usuario %}
                                <div style="line-height: 3.5;"><a href="{% url 'receta_edit' receta.pk %}" title="Editar"><i class="glyphicon glyphicon-pencil" style="color:green;"></i></a></div></td>
                            {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#table').bootstrapTable({
            idField: 'titulo',
            cardView: false,        //Debería ser true para celulares, por ejemplo.
            detailView: false,
            pagination: true,
            pageSize: 4,
            search: true,
            filterControl: true,

             columns: [ {
                field: 'titulo',
                title: 'Titulo',
                halign: 'center',
                align: 'left',
                filterControl: 'input',
                width: '55%'
            }, {
                field: 'categoria',
                title: 'Categoria',
                halign: 'center',
                align: 'center',
                filterControl: 'select',
                width: '20%'
            }, {
                field: 'fecha',
                title: 'Fecha',
                halign: 'center',
                align: 'center',
                sortable: true,
                order: 'asc',
                filterControl: 'input',
                width: '20%'
            }, {
                field: '',
                title: '',
                halign: 'center',
                align: 'center',
                width: '5%'
            },],
        });
    </script>
{% endblock %}