{% extends 'base.html' %}
{% load staticfiles comments crispy_forms_tags %}
{% block css %}
    <style type="text/css">
        .jumbotron p {
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 200;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row pull-right">
        {{ receta.fecha }} | Creada por:&nbsp;<a href="{% url 'receta_usuario' receta.usuario.pk %}">{{receta.usuario}}</a>
        <div class="clear"></div>
        <label class="pull-right">Votos: <span id="votos_count">{{ receta.votes.count }}</span></label>
        <a href="#" class="btn-primary btn-sm" title="Votar +" id="voteUp"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        <a href="#" class="btn-primary btn-sm" title="Votar -" id="voteDown"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    </div>

    <div class="row">
        <h2>{{ receta.titulo }}</h2> 
    </div>
	
	<div class="row pull-left">{{ receta.categoria }} | {{receta.status}} </div>
    <div class="col-md-12"></div>

    <div class="row">
        <div class="col-md-3">
            <img src="{{ receta.img.url }}" class="img-responsive" style="width: 100%;">
        </div>
        <div class="col-md-9">
            <div class="row"><h3>Descripcion</h3></div>
            <div class="row">{{ receta.descripcion|linebreaks }}</div>
        </div>
    </div>

	<hr>
    <div class="row">
        <h3>Ingredientes</h3>
        {{ receta.ingredientes|linebreaks }}    
    </div>
	
    <!-- PASOS -->
    <div class="row">
        <h3>Pasos</h3>
        {% for paso in receta.pasos.all %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ paso.img.url }}" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <p>{{ paso.descripcion|linebreaks }}</p>
                </div>
            </div>
        {% endfor %}    
    </div>

	<hr>

    <!-- COMENTARIOS -->
    <div class="row">
        {% get_comment_count for receta as comment_count %}.
        <h3>Comentarios ({{comment_count}})</h3>
        {% get_comment_list for receta as comment_list %}
        {% for comment in comment_list %}
            {{ comment }}
            <hr>
        {% endfor %}
        {% get_comment_form for receta as form %}
        <table>
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <tr>
              <td colspan="2">
                <input type="submit" name="submit" class="btn btn-success" value="Comentar">
              </td>
            </tr>
          </form>
        </table>    
    </div>
{% endblock %}
{% block js %}
    <script>
    $("#voteUp").click(function () {
        var username = '{{ request.user.id }}';
        var id_receta = {{ receta.id }};
        $.ajax({
            url: '/ajax/voteUpReceta/',
            data: {
                'usuario': username,
                'id_receta': id_receta,
            },
            dataType: 'json',
            success: function (data) {
                $('#votos_count').text(data.votos);
            }
        });
    });

    $("#voteDown").click(function () {
        var username = '{{ request.user.id }}';
        var id_receta = {{ receta.id }};
        $.ajax({
            url: '/ajax/voteDownReceta/',
            data: {
                'usuario': username,
                'id_receta': id_receta,
            },
            dataType: 'json',
            success: function (data) {
                $('#votos_count').text(data.votos);
            }
        });
    });
  </script>
{% endblock %}