<!DOCTYPE html>
{% load staticfiles %}
{% load vote %} 
<html style="overflow-x:hidden;">
<head>
	<title>{% block title %}Locos x la plancheta{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
	
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	<style type="text/css">
	    .jumbotron p {
	        margin-bottom: 15px;
	        font-size: 14px;
	        font-weight: 200;
	    }
	    .jumbotron{
	            background-color: rgba(255, 255, 255, 0.9) !important;
	        }
        .clear {clear: both;}
	</style>
	{% block css %}
		
	{% endblock %}
</head>
<img src="{% static 'bg_3.jpg' %}" class="bimg" style="top: 0;
    			position: fixed;
    			z-index: -1;
    			width: 100%;
    			height: 100%;"/>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Inicio</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="{% url 'categorias' %}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Categorias</a></li>
	        <li><a href="{% url 'receta_create' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Crea tu Receta!</a></li>
	        <li><a href="/buscar/"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;Buscar Recetas</a></li>
	        <li><a href="{% url 'pedidoreceta_create' %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;Solicita tu Receta!</a></li>
	      </ul>
	      {% if request.user.is_authenticated %}
	      <ul class="nav navbar-nav navbar-right">

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
	          {{ request.user}} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	          	{% if request.user.is_superuser %}
	          		<li>
	          			<a href="/admin">
	          				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	          				&nbsp;Ir al admin
          				</a>
      				</li>
      				
      				<li>
	          			<a href="{% url 'pedidoreceta_usuario' %}">
	          				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
	          				&nbsp;Ver Pedidos de Recetas
          				</a>
      				</li>
	          	{% endif %}
      			<li>
	          		<a href="{% url 'receta_usuario' request.user.pk %}">
	          			<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
	          			&nbsp;Mis Recetas
	          		</a>
          		</li>
	          	<li>
	          		<a href="{% url 'account_change_password' %}">
	          			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	          			&nbsp;Cambiar Password
	          		</a>
          		</li>

	            <li>
	            	<a href="{% url 'account_logout' %}">
	            		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
	            		&nbsp;Salir
            		</a>
        		</li>
	          </ul>
	        </li>
	      </ul>
	      {% else %}
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="{% url 'account_login' %}">Login</a></li>
	        	<li><a href="{% url 'account_signup' %}">Registrarse</a></li>
	        </ul>
	      {% endif %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="jumbotron" id="divMain">
			{% block content %}
			{% endblock %}
		</div>
		
	</div>

	<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12" style="color:white;">
                <center>Copyright &copy; Locosxlaplancheta 2017</center>
            </div>
        </div>
    </footer>
	<script
  	src="https://code.jquery.com/jquery-2.2.4.min.js"
  	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script 
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

	<!-- Latest compiled and minified Locales -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-es-AR.min.js"></script>
	{% block js %}
	{% endblock %}
</body>
</html>