{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Categorias</h3>
            <hr>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        {% for categoria in object_list %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <a href="{% url 'receta_categoria' categoria.pk %}" class="btn btn-default">
                            <h4>{{ categoria.nombre }}</h4>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}