{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<style type="text/css">
		.logo {
	    /* cambia estos dos valores para definir el tamaño de tu círculo */
	    height: 100px;
	    width: 100px;
	    /* los siguientes valores son independientes del tamaño del círculo */
	    background-repeat: no-repeat;
	    background-position: 50%;
	    border-radius: 50%;
	    background-size: 100% auto;
	    display: inline-block;
		}
		.r-img{
    		width: 180px !important;
    		height: 180px !important;
    		border-radius: 10px !important;
		}
		@font-face { 
			font-family: 'fontTituloRegular'; 
			src:local('fontTitulo Regular'),
			    local('fontTitulo'), 
			    url('{% static "font/Stya.ttf" %}') format('truetype');
			} 
			.fontTitulo{font-family:'fontTituloRegular';}
	</style>
	
{% endblock %}
{% block content %}
    <!-- Jumbotron Header -->
    <header class="jumbotron" style="background-color: rgba(238, 238, 238, 0.76);">
    	
		<div style="display: inline-block;"><img src="{% static 'logo.jpg' %}" class="logo"></div>
		<div style="display: inline-block;position:absolute;font-family:'fontTituloRegular';"><h1>&nbsp;&nbsp;Locos x la Plancheta</h1></div>	

    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12" style="color:white">
            <h3>Recetas</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
		{% for receta in object_list %}
			<div class="col-md-3 col-sm-6 hero-feature">
	            <div class="thumbnail">
	                <img src="{{ receta.img.url }}" alt="" onerror="this.src='{% static 'img_nd.png' %}'" class="r-img">
	                <div class="caption">
	                    <h4>{{ receta.titulo }}</h4>
	                    <p>
	                        <a href="{% url 'receta_detail' receta.pk %}" class="btn btn-primary">Leer Mas</a>
	                    </p>
	                </div>
	            </div>
	        </div>
		{% endfor %}

    </div>
    <!-- /.row -->

    <hr>
	<div class="row">
		
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#divMain").removeClass();
		});
	</script>
{% endblock %}